.index.vertical-center
  .container
    .row.text-center
      %h1.title Balancing Act
    .row.text-center
      %h3.subtitle Finding a Whole Job for your Whole Person
    .row
      .col-md-6.col-md-offset-3
        = link_to "/home/search", {class:"btn btn-primary btn-lg center-block", id:"action-button"} do
          .fa.fa-star Go

