/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
  background-image: url("http://hdwyn.com/wallpaper/abstract_background_texture_bubbles_circles_hd-wallpaper-37815.jpg")
}

#action-button {
  background: #E4F2F3;
  color: grey;
  border: none;
}
.navbar-brand img {
  width: 70px;
  opacity: 1;
}
.navbar h1 {
  float: right;
}

.navbar {
  /*opacity: 0.8;*/
  background: white;
}
.jobs-table {
  background: #ffffff;
  opacity: 0.7;
  font-color: #000000;
}


.job-show-div {
  background: #ffffff;
  opacity: 0.7;
  font-color: #000000;
  padding: 10px;
}

.index {
  height: 600px;
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
  align-content: center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/*#########*/

.title {
    font-family: 'Raleway', sans-serif;
    text-align: right;
    margin-right: 2.8em;
}

.nav{
    margin: auto;
    width: 63em;
    height: 3em;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-style: solid;
    opacity: 80%;
    border-width: thin;
/*    position: relative; 
    top: 4em;
    left: 8em;
  */
}

.subtitle{
    font-family: 'Raleway', sans-serif;
    /*text-align: right;*/
    margin-right: 4.6em;
    position: relative;
}

li {
  list-style: none;
}

p{
    font-family: 'Raleway', sans-serif;
    text-align: right;
    margin-right: 8.5em;
}

.category ul{
  height: 15em;
}

#Needs{
    border-right-style: solid;  
    border-right-width: thin;
}

#Wants{
}

#Likes{
    border-left-style: solid;  
    border-left-width: thin;
}

.wordbank{}

.map{}

.nav{
}
