<!DOCTYPE html>
<html>
<head>
  <title>Wecodehackathon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="col-md-12 col-lg-12">
      <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
